:host {
    display: block;
}

.chat__display {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: center;
    height: 597px;
    background-color: rgb(194, 194, 194);
    max-width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    border: 1px solid rgb(85, 85, 85);
}

.companion_msgs {
    align-self: flex-start;
    max-width: 65%;
    border: 1px inset;
    padding: 3px 3px 3px 3px;
    margin: 5px 12px 0 12px;
    background-color: rgb(228, 226, 225);
    border-radius: 10px 10px 10px 10px;
    max-height: 40%;
    text-align: center;
}
.own_msgs {
    max-width: 65%;
    border: 1px inset;
    padding: 3px 3px 3px 3px;
    margin: 5px 12px 0 12px;
    background-color: rgb(228, 226, 225);
    border-radius: 10px 10px 10px 10px;
    max-height: 40%;
    text-align: center;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}