:host{
    display: block;
}
.chat__info {
    height: 45px;
    border: 1px solid rgb(85, 85, 85);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(150, 150, 150);
    border-radius: 0px 10px 0px 0px;
}

.face {
    cursor: pointer;
    margin-left: 10px;
}

.more {
    cursor: pointer;
    margin-right: 10px;
}