<div class="chat__info">
  <div>
    <div mat-card-avatar class="example-header-image" [ngStyle]="{ 'background-image': 'url(' + room.icon + ')'}">
    </div>
  </div>
  <p> {{room.name}} </p>
  <div class="more">
    <mat-icon>more_vert</mat-icon>
  </div>
</div>





<!--

<mat-card *ngIf="contacts[+roomId-1]">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"
        [ngStyle]="{ 'background-image': 'url(' + contacts[+roomId-1].profile_photo + ')'}"></div>
      <mat-card-title>{{contacts[+roomId-1].full_name}} </mat-card-title>
    </mat-card-header>
  </mat-card>-->