<div class="input__form" (click)="RoomDetector()">
  <input #input placeholder="Start chatting..." name="text" class="mytext" id='input' maxlength="200">
  <div class="send__message">
    <mat-icon (click)="sendMessage(input.value); input.value = ''">send</mat-icon>
  </div>
</div>


<!--
<div class="conversation-input">
    <mat-divider></mat-divider>
    <mat-form-field class="full-width">
      <input matInput placeholder="Start chatting..." name="text" [(ngModel)]="text">
      <mat-icon matSuffix (click)="sendText(text)">send</mat-icon>
    </mat-form-field>
  </div> -->