<div class="input__form"  id="form">
  <input ngModel #input="ngModel" placeholder="Start chatting..." name="text" class="mytext" id='input' maxlength="400">
  <div class="send__message">
      <button mat-icon-button matTooltip="Press to send message">
          <mat-icon (click)="sendMessage(input.value);"(click)="input.reset();">send</mat-icon>
        </button>
    
  </div>
</div>


<!--
<div class="conversation-input">
    <mat-divider></mat-divider>
    <mat-form-field class="full-width">
      <input matInput placeholder="Start chatting..." name="text" [(ngModel)]="text">
      <mat-icon matSuffix (click)="sendText(text)">send</mat-icon>
    </mat-form-field>
  </div> -->


  