<div class="user__info">
  <div class="person">
    <img src='https://img.pngio.com/person-outline-icon-png-person-outline-icon-png-person-1901-person-png-outline-512_512.png'>
     </div>
     
    <div class="more">
        <mat-icon>more_vert</mat-icon>
       
        
    </div>
</div>


<!--
<mat-form-field>
    <mat-label>status</mat-label>
    <mat-select>
      <mat-option *ngFor="let status of avaliable" [value]="status.statusValue">
          <div mat-card-avatar class="example-header-image"
          [ngStyle]="{ 'background-image': 'url(' + status.statusViewValue + ')'}"></div>

        

      </mat-option>
    </mat-select>
  </mat-form-field>-->