<h4>Chats</h4>
<div class="chats">

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Chat Example</mat-card-subtitle>
    </mat-card-header>
  </mat-card>


  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Chat Example</mat-card-subtitle>
    </mat-card-header>
  </mat-card>


  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Chat Example</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Chat Example</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Chat Example</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Chat Example</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>