


<mat-sidenav-container  class="example-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>

       <button mat-icon-button matTooltip="Close menu" (click)="sidenav.close()"><mat-icon >menu</mat-icon></button>

       <mat-card (click)="openDialog()" class="menu-card">
          <mat-icon >supervisor_account</mat-icon>
       <mat-card-title><span>Contacts</span> </mat-card-title>
      </mat-card>

    </mat-sidenav>

<mat-sidenav-content>
    <div class="search__label">
        <div class="menu">
      
            <button mat-icon-button matTooltip="Chat menu" (click)="sidenav.open()"><mat-icon >menu</mat-icon></button>
      
          </div>
      <div class="input__form">
          
        <input #searchBox id="search-box" (input)="search(searchBox.value)" placeholder="Search " class='mytext'>
        <ul class="search-result">
          <li *ngFor="let contact of contacts$  | async">
            <a routerLink="/room/{{contact.id}}">
              {{contact.full_name}}
            </a>
          </li>
        </ul>
      
      </div>
      </div>
  
  <div class="chats">
    <mat-card *ngFor="let contact of contacts" [class.selected]="contact === selectedContact" (click)="onSelect(contact)"
      routerLink="/room/{{contact.id}}" matTooltip="Select to start chat with..">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"
          [ngStyle]="{ 'background-image': 'url(' + contact.profile_photo + ')'}"></div>
        <mat-card-title>{{contact.full_name}} </mat-card-title>
        <mat-card-subtitle>{{contact.last_chat}} </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</mat-sidenav-content>
</mat-sidenav-container>












<!--
<div *ngIf="selectedContact">
  <h2>Chat with {{selectedContact.full_name}} </h2>
</div>
</div>-->

