:host {
    display: block;
}

.chats {
    height: 539px;
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    border: 1px solid rgb(85, 85, 85);
}
.menu-card {
    margin-top: 20px;
    display: flex;
    cursor: pointer;
    height: 30px;
    justify-content: center;
    border-radius: 0px 0px 0px 0px;
    border: none;
    background-color: rgb(150, 150, 150);
    padding: 0 0 0 0;
}
.menu-card:hover{
    
    background-color: rgb(92, 92, 92);
}
 .menu-card mat-card-title{
    margin-left: 4px;
}

span{
    font-size: 20px;
}
mat-card {
    cursor: pointer;
    border-radius: 0px 0px 0px 0px;
    padding: 21px 0px 0px 0px;
    padding-left: 10px;
    border: 1px solid rgb(85, 85, 85);
    background-color: rgb(224, 224, 224);
}
mat-card:hover{
    background-color: rgb(180, 180, 180);

}

.example-header-image {
    background-size: cover;
}

h4 {
    padding-top: 10px;
    background-color: rgb(150, 150, 150);
    padding-left: 10px;
    margin: 0 0 0 0;
    padding-bottom: 10px;
    border: 1px solid rgb(85, 85, 85);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}







.search__label {
    background-color: rgb(150, 150, 150);
    border: 1px solid rgb(85, 85, 85);
    display: inline-flex;
    padding-top: 5px;
    padding-bottom: 5px;

}

.input__form {
    margin-top: 7px;
    display: inline-flex;
    padding-right: 0px;
    background-color: rgb(204, 201, 201);
    height: 30px;
    width: 79%;
    margin-left: 12px;
    border-radius: 5px 5px 5px 5px;

}

.person__add {
    cursor: pointer;
    padding: 7px 10px 10px 10px;
    width: 30px;
    height: 20px;
}

.menu {
    cursor: pointer;
    width: 30px;

}

input {
    font-size: 1.0em;
    outline: none;
    border: 0;
    background-color: rgb(204, 201, 201);
    border-radius: 10px 10px 10px;
    cursor: text;
    margin-left: 6px;
}

.mytext {
    width: 90%;
    padding-right: 10px;
}

mat-sidenav{

    display: inline-flex;
    width: 100%;
    padding-top: 5px;
    
    border: 1px solid rgb(85, 85, 85);
    background-color: rgb(150, 150, 150);
}