:host{
    padding: 0 0 0 0;
    margin: 0 0 0 0 ;
}
.chats {
    height: 539px;
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    overflow: scroll;
    overflow-x: hidden;

}
mat-card {
    cursor: pointer;
    border-radius: 0px 0px 0px 0px;
    padding: 21px 0px 0px 0px;
    padding-left: 10px;
    border: 4px double rgb(85, 85, 85);
    background-color: rgb(224, 224, 224);
}
mat-card:hover{
    background-color: rgb(180, 180, 180);

}

.example-header-image {
    background-size: cover;
}

h4 {
    padding-top: 10px;
    background-color: rgb(150, 150, 150);
    padding-left: 10px;
    margin: 0 0 0 0;
    padding-bottom: 10px;
    border: 1px solid rgb(85, 85, 85);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
