<h4>Contacts</h4>

<div class="show_contacts">

  <mat-card *ngFor="let contact of contacts" routerLink="/room/{{contact.id}}">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"
        [ngStyle]="{ 'background-image': 'url(' + contact.profile_photo + ')'}"></div>
      <mat-card-title>{{contact.full_name}} </mat-card-title> <button mat-icon-button class="delete" title="delete contact"
      (click)="delete(contact)"> <mat-icon>clear</mat-icon>
      </button>
    </mat-card-header>
  </mat-card>

  <div>
    <label>Contact Name:
      <input #contactName />
    </label>
    <button (click)="add(contactName.value); contactName.value=''">
      add
    </button>
  </div>