<h4>Contacts</h4>
<div class="contacts">

  <mat-card *ngFor="let contact of contacts; let i = index" [class.selected]="contact === selectedContact" (click)="onSelect(contact)"
    routerLink="/room/{{contact.id}}">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"
        [ngStyle]="{ 'background-image': 'url(' + contact.profile_photo + ')'}"></div>
      <mat-card-title>{{contact.full_name}} </mat-card-title>
    </mat-card-header>
  </mat-card>

  <div *ngIf="selectedContact">
    <h2>{{selectedContact.full_name}} Selected</h2>
  </div>
</div>