<div class="left__bar">
    <div class="user__info">
        <app-user-info></app-user-info>
    </div>
    <div class="left__search">
        <app-left-bar-search></app-left-bar-search>
    </div>
    <div class="chats">
        <app-left-bar-chats></app-left-bar-chats>
    </div>
    <div class="contacts">
        <app-left-bar-contacts></app-left-bar-contacts>
    </div>

</div>

<div class="right__bar">
    <app-right-main></app-right-main>
</div>

<!--<a routerLink="room/:id">routing</a>
<router-outlet></router-outlet>
-->



<!--
<button mat-raised-button matTooltip="Info about the action"
    aria-label="Button that displays a tooltip when focused or hovered over">Action</button>
<button mat-flat-button>Basic</button>
<button mat-flat-button color="primary">Primary</button>
<button mat-flat-button color="accent">Accent</button>
<button mat-flat-button color="warn">Warn</button>
<button mat-flat-button disabled>Disabled</button> -->